#!/usr/bin/make -f
# You must remove unused comment lines for the released package.
#export DH_VERBOSE = 1
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

%:
	dh $@

override_dh_auto_build:
	# Nic neděláme při sestavování

override_dh_auto_install:
	./download.sh
	install -D -m 755 debian/tmp/geckodriver debian/gecko-driver/usr/bin/geckodriver

override_dh_strip:
	# Přeskočíme strip kvůli binárce z upstream
